#!/bin/bash

stack unpack servant-checked-exceptions-core-2.0.0.0
sed -i.bak 's#- servant-checked-exceptions-core-2.0.0.0#- ./servant-checked-exceptions-core-2.0.0.0#' stack.yaml
sed -i.bak 's/toJSON (ErrEnvelope es) = object \["err" .= es\]/toJSON (ErrEnvelope es) = toJSON es/' servant-checked-exceptions-core-2.0.0.0/src/Servant/Checked/Exceptions/Internal/Envelope.hs
sed -i.bak 's/toJSON (SuccEnvelope a) = object \["data" .= a\]/toJSON (SuccEnvelope a) = toJSON a/' servant-checked-exceptions-core-2.0.0.0/src/Servant/Checked/Exceptions/Internal/Envelope.hs
rm stack.yaml.bak servant-checked-exceptions-core-2.0.0.0/src/Servant/Checked/Exceptions/Internal/Envelope.hs.bak
